{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="text-center">
            <h1 class="text-primary">Klachten- & ideeënbox</h1>
            <p>Drop hier anoniem je klachten/ideeën om het leven op de beste home nóg beter te maken.</p>
            <small>Voor dringende zaken is het beter om rechtstreeks iemand van het praesidium te contacteren.</small>
        </div>
        <form method="POST" action="">
            {{ input_form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">

                    {% if input_form.input.errors %}
                        {{ input_form.input(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in input_form.input.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ input_form.input(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group text-center">
                {{ input_form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}