{% extends 'layout.html' %}
{% block content %}
    <div class="container mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('tools') }}">Tools</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gebruikers</li>
            </ol>
        </nav>
        <h1 class="text-primary text-center">Gebruikers</h1>
        <div class="row my-3">
            <div class="col-8">
                <input id="search" type="text" onkeyup="filterUsers()" class="form-control" placeholder="Zoek gebruiker op naam" aria-label="gebruiker">
            </div>
            <div class="col-4">
                <button class="btn btn-primary" data-toggle="collapse" href="#collapseAddUser" role="button" aria-expanded="false" aria-controls="collapseAddUser">Nieuw</button>
            </div>
        </div>

        <!-- Add user form -->
        <div class="collapse my-2" id="collapseAddUser">
            <div class="card card-body shadow">
                <form method="POST" action="">
                    {{ user_form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ user_form.username.label(class="form-control-label") }}

                            {% if user_form.username.errors %}
                                {{ user_form.username(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in user_form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ user_form.username(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ user_form.password.label(class="form-control-label") }}

                            {% if user_form.password.errors %}
                                {{ user_form.password(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in user_form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ user_form.password(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ user_form.fullname.label(class="form-control-label") }}

                            {% if user_form.fullname.errors %}
                                {{ user_form.fullname(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in user_form.fullname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ user_form.fullname(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ user_form.roles.label(class="form-control-label") }}
                            {% if user_form.roles.errors %}
                                {{ user_form.roles(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in user_form.roles.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ user_form.roles(class="form-control") }}
                            {% endif %}
                            <small>Komma-gescheiden lijst van rollen (opties met uitleg in readme)</small>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ user_form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>

        <table id="usertable" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Gebruikersnaam</th>
                    <th scope="col">Naam</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.fullname or "" }}</td>
                    <td><a href="{{ url_for('users_update', id=user.id) }}">Meer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script>
    function filterUsers() {
        // Declare variables 
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("usertable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            } 
        }
    }
    // Make sure the form is shown if there is something wrong
    if(document.querySelector(".invalid-feedback")){
        $('#collapseAddUser').collapse('show');
    }
    </script>
{% endblock %}