<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vermeylen</title>
        <meta name="description" content="De beste home van 't stad!">
        <html lang="nl">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">

        <!-- bootstrap css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- fontawesome icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        {% block header %}
        {% endblock %}
    </head>
    <body style="display:flex; min-height:100vh; flex-direction:column;">
        <noscript>
            Please enable javascript to use this website.
        </noscript>

        <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top" id="navbar">
            <a class="navbar-brand" href="/">Home Vermeylen</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/agenda">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/augustje">Augustje</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/praesidium">Praesidium</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="infoDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Good to know
                        </a>
                        <div class="dropdown-menu" aria-labelledby="infoDropdownMenuLink">
                            <a class="dropdown-item" href="/info">Algemene info</a>
                            <a class="dropdown-item" href="/clublied">Clublied</a>
                            <a class="dropdown-item" href="/input">Ideeën/Klachten</a>
                            <a class="dropdown-item" href="/archief">Archief</a>
                        </div>
                    </li>
                    {% if session.get('username', None) %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('muilgraaf') }}">Muilgraaf</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tools">Tools</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('profile') }}">Profiel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Afmelden</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="position-absolute" style="z-index:1100; right:1%; margin-top: 65px;">
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </nav>

        <div style="flex:1;" class="text-dark">
             <hr id="headerseperator" class="text-dark my-0">
            {% block content %}
            {% endblock %}
        </div>

        {% block footer %}
        {% endblock %}

        <!-- JS required for bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script>
            // Add shadow to header after scrolling
            $(window).scroll(function() {    
                var scroll = $(window).scrollTop();

                if (scroll >= 1) {
                    $("#navbar").addClass("shadow-sm");
                } else {
                    $("#navbar").removeClass("shadow-sm");
                }
            });
            // Auto-remove alerts after 4 seconds
            window.setTimeout(function() {
                $(".alert").remove(); 
            }, 3000);
        </script>
        {% block js %}
        {% endblock %}
    </body>
</html>