{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-primary text-center">Praesidium '19-'20</h1>
        <p class="text-center">
            Ons huidig praesidium.
            Zij zorgen voor de dagelijkse werking van de home.
            Ze zijn ook het eerste aanspreekpunt bij problemen, en ze lossen die op of geven die door aan de homebeheerder.
            Verder organiseren ze ook activiteiten die de sociale cohesie binnen de home versterken.
        </p>
        <div class="row">
            <div class="col-6">
                Jonathan: handelsingenieur
                Guillaume: handelswetenschappen
            </div>
            <div class="col-6">
                test
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}