{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-primary text-center">Praesidium '19-'20</h1>
        <p class="text-center">
            Ons huidig praesidium.
            Zij zorgen voor de dagelijkse werking van de home.
            Ze zijn ook het eerste aanspreekpunt bij problemen, en ze lossen die op of geven die door aan de homebeheerder.
            Verder organiseren ze ook activiteiten die de sociale cohesie binnen de home versterken.
        </p>
        <!-- 1 row per 2 praesidia -->
        <div class="row">
            <!-- lid -->
            <div class="col-md-6">
                <div class="row mb-3">
                    <div class="col-4">
                        <img src="{{ url_for('static',filename='praesidium/ict.jpg') }}" class="rounded-circle img-fluid shadow-sm" alt="foto">
                    </div>
                    <div class="col-8">
                        <h3>ICT</h3>
                        <h4>Xavier Claerhoudt</h4>
                        Brugge
                        <br>
                        Computerwetenschappen
                        <br>
                        ict@homevermeylen.be
                    </div>
                </div>
            </div>
            <!-- lid -->
            <div class="col-md-6">
                <div class="row mb-3">
                    <div class="col-4">
                        <img src="{{ url_for('static',filename='praesidium/ict.jpg') }}" class="rounded-circle img-fluid shadow-sm" alt="foto">
                    </div>
                    <div class="col-8">
                        <h3>ICT</h3>
                        <h4>Xavier Claerhoudt</h4>
                        Brugge
                        <br>
                        Computerwetenschappen
                        <br>
                        ict@homevermeylen.be
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}